.ant-select {
  width: theme('width.full') !important;
}

.creatable-search .ant-select-selector {
  border-color: theme('colors.neutral.200') !important;
  border-width: 1px !important;
  border-radius: 32px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  align-items: center !important;
  height: 44px !important;
}

.creatable-search .ant-select-selection-search-input {
  height: 44px !important;
}

.ant-select-selector:hover {
  border-color: theme('colors.primary.500') !important;
}

.ant-select-selection-item {
  font-weight: theme('fontWeight.medium') !important;
  font-size: theme('fontSize.sm') !important;
  line-height: theme('lineHeight.normal') !important;
  color: theme('colors.neutral.900') !important;
  font-family: 'Manrope';
}

.ant-select-dropdown {
  background-color: theme('colors.white') !important;
  border-color: theme('colors.neutral.200') !important;
  border-width: 1px !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important;
}

.ant-select-item-option {
  font-weight: theme('fontWeight.medium') !important;
  font-size: theme('fontSize.xs') !important;
  line-height: theme('lineHeight.normal') !important;
  color: theme('colors.neutral.900') !important;
  padding-left: theme('padding.6') !important;
  padding-right: theme('padding.6') !important;
  padding-top: theme('padding.2') !important;
  padding-bottom: theme('padding.2') !important;
  border-bottom-width: 1px !important;
  border-bottom-color: theme('colors.neutral.200') !important;
  border-radius: 0 !important;
  font-family: 'Manrope';
}

.ant-select-item-option-active {
  background-color: theme('colors.primary.50') !important;
}

.ant-select-item-option-selected {
  background-color: theme('colors.primary.50') !important;
}
