.overlay {
  color: rgba(217, 217, 217, 0.6);
}

.preview {
  border: solid 2px white;
}

.cropper {
  height: 600px;
  background: #ddd;
  padding: 16px;
}

.advanced-cropper__background-wrapper > img {
  border: 1px solid #737373;
}
