.ql-mention-list-container {
  width: 50%;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 9001;
  overflow-y: scroll;
  border-radius: 12px;
  background: #fff;
}

/* mention denotation char class*/
/* .ql-mention-denotation-char {
  display: none;
} */

.mention {
  user-select: all;
  color: #10b981;
  font-weight: 500;
}

.ql-mention-list-item.selected {
  background-color: #ecfdf5 !important;
  text-decoration: none;
  border-radius: 5px;
}

.ql-mention-loading {
  padding-left: 5px;
  padding-top: 2px;
  text-align: left;
  font-size: 16px;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0px 0px;
  overflow: hidden;
}

.ql-mention-list-item {
  cursor: pointer;
  line-height: 44px;
  font-size: 16px;
  padding: 0px 0px;
  vertical-align: middle;
}

.ql-mention-list-item span {
  align-items: center;
}

.ql-mention-list-item.disabled {
  cursor: auto;
}

.ql-mention-denotation-char {
  vertical-align: 0.1rem;
}

/* User */
.user-container {
  display: flex;
  align-items: center;
  padding: 16px 24px;
}

.user-avatar {
  background-color: #f7f8fb;
  font-weight: bold;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  margin-left: 16px;
}

/* Hashtags */

.hashtag-container {
  display: flex;
  padding: 0px 24px;
}

.hashtag-name {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  color: #171717;
}

.hashtag {
  color: #10b981;
  font-weight: 500;
}

.hashtag:hover {
  color: #059669;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
