.modal-enter .modalContent {
  opacity: 0;
}
.modal-enter-active .modalContent {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.modal-exit .modalContent {
  opacity: 1;
}
.modal-exit-active .modalContent {
  opacity: 0;
  transform: scale(0.9);
  transition: all 200ms ease-out;
}
