.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__header {
  background-color: #10b981;
}

.react-datepicker__day-name {
  color: white;
}

.react-datepicker__current-month {
  color: white;
}

.react-datepicker__triangle {
  visibility: hidden;
}

.react-datepicker__day--keyboard-selected {
  background-color: #10b981;
}

.react-datepicker__day--selected {
  background-color: #10b981;
}

/* 
.react-date-picker__wrapper {
  border: none;
}
.react-date-picker__inputGroup__input:invalid {
  background-color: transparent;
}

.react-date-picker__inputGroup__input {
  outline: none;
}

.react-date-picker__calendar,
.react-date-picker__calendar .react-calendar {
  border-radius: 8px;
  overflow: hidden;
}

.react-date-picker__calendar {
  position: fixed;
  top: 100% !important;
  left: calc(50% - 175px) !important;
}

.react-calendar__tile--active {
  background: #10b981;
}

.react-calendar__tile--active:hover {
  background: #047857 !important;
} */
