.ant-picker-header-prev-btn,
.ant-picker-header-super-prev-btn,
.ant-picker-header-next-btn,
.ant-picker-header-super-next-btn,
.ant-picker-decade-btn,
.ant-picker-header {
  background-color: var(--primary-500) !important;
  color: white !important;
}

.ant-picker-month-btn:hover,
.ant-picker-year-btn:hover,
.ant-picker-header-prev-btn:hover,
.ant-picker-header-super-prev-btn:hover,
.ant-picker-header-next-btn:hover,
.ant-picker-decade-btn:hover,
.ant-picker-header-super-next-btn:hover {
  color: #e5e7eb !important;
}

.ant-picker-input > input {
  line-height: theme('lineHeight.normal') !important;
  font-family: 'Manrope' !important;
}

.ant-picker-focused {
  border-color: var(--primary-500) !important;
  box-shadow: 0 0 0 1px var(--primary-500) !important;
}

.ant-picker:hover {
  border-color: var(--primary-500) !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--primary-500) !important;
}

.ant-picker-today-btn {
  color: var(--primary-500) !important;
}

.ant-picker-today-btn:hover {
  color: var(--primary-500) !important;
}

.anticon-close-circle > svg,
.anticon-calendar > svg {
  width: 16px !important;
  height: 16px !important;
}
.ant-picker-active-bar {
  background: var(--primary-500) !important;
}

.ant-picker-cell-inner::before {
  border: 1px solid var(--primary-500) !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  background: var(--primary-500) !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-range-end-single
  )::before {
  background: var(--primary-50) !important;
}
