/* .react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker__header {
  background-color: #10b981;
}

.react-datepicker__day-name {
  color: white;
}

.react-datepicker__current-month {
  color: white;
}

.react-datepicker__triangle {
  visibility: hidden;
}

.react-datepicker__day--keyboard-selected {
  background-color: #10b981;
}

.react-datepicker__day--selected {
  background-color: #10b981;
} */

.react-date-picker__wrapper {
  border: none;
}
.react-date-picker__inputGroup__input:invalid {
  background-color: transparent;
}

.react-date-picker__inputGroup__input {
  outline: none;
}

.react-date-picker__calendar,
.react-date-picker__calendar .react-calendar {
  border-radius: 8px;
  overflow: hidden;
}

.react-date-picker__calendar {
  position: fixed;
  top: 100% !important;
  left: calc(50% - 175px) !important;
}

.react-date-picker__calendar,
.react-date-picker__calendar .react-calendar {
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.react-calendar__navigation {
  background-color: #10b981;
  height: 44px;
  color: white;
  margin-bottom: 0px !important;
}

.react-calendar__month-view__weekdays {
  background-color: #10b981;
  color: white;
  padding: 12px 12px;
}

.react-calendar__month-view__days {
  padding: 12px;
}

.react-calendar__month-view__weekdays__weekday,
abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.react-calendar__tile {
  padding: 12px;
  line-height: normal;
}

.react-calendar__tile--active {
  background-color: #10b981;
  border-radius: 100%;
}

.react-calendar__tile--active:hover {
  background: #047857 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__tile--hasActive {
  background-color: #10b981;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #047857;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
  color: #a3a3a3;
}

.react-calendar__tile:disabled {
  cursor: not-allowed;
}
