.ant-picker-header-prev-btn,
.ant-picker-header-super-prev-btn,
.ant-picker-header-next-btn,
.ant-picker-header-super-next-btn,
.ant-picker-decade-btn,
.ant-picker-header {
  background-color: #10b981 !important;
  color: white !important;
}

.ant-picker-month-btn:hover,
.ant-picker-year-btn:hover,
.ant-picker-header-prev-btn:hover,
.ant-picker-header-super-prev-btn:hover,
.ant-picker-header-next-btn:hover,
.ant-picker-decade-btn:hover,
.ant-picker-header-super-next-btn:hover {
  color: #e5e7eb !important;
}

.ant-picker-focused {
  border-color: #10b981 !important;
  box-shadow: 0 0 0 1px #10b981 !important;
}

.ant-picker:hover {
  border-color: #10b981 !important;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #10b981 !important;
}

.ant-picker-today-btn {
  color: #10b981 !important;
}

.ant-picker-today-btn:hover {
  color: #059669 !important;
}

.anticon-close-circle > svg,
.anticon-calendar > svg {
  width: 16px !important;
  height: 16px !important;
}
