.node-button-g {
  transform: translate(32px, 100px) !important;
}
.node-button-rect {
  display: none;
}
.node-button-foreign-object {
  width: 120px !important;
  height: 16px !important;
  transform: translate(108px, 26px) !important;
  cursor: pointer;
}
.node,
.node-rect {
  cursor: default !important;
}
.ant-select-selector {
  height: 36px !important;
}
.ant-select-selection-search-input {
  height: 34px !important;
}
.ant-select-dropdown {
  width: 520px !important;
}
.ant-select-item.ant-select-item-option {
  padding: 0px !important;
}
