.user-mentions-card {
  padding: 16px;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* .user-mentions-card .styles-module_arrow__K0L3T {
  background-color: blue;
} */
