@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@layer base {
  :root {
    --primary-50: #ecfdf5;
    --primary-100: #d1fae5;
    --primary-200: #a7f3d0;
    --primary-300: #6ee7b7;
    --primary-400: #34d399;
    --primary-500: #10b981;
    --primary-600: #059669;
    --primary-700: #047857;
    --primary-800: #065f46;
    --primary-900: #064e3b;
    --secondary-50: #eff6ff;
    --secondary-100: #dbeafe;
    --secondary-200: #bfdbfe;
    --secondary-300: #93c5fd;
    --secondary-400: #60a5fa;
    --secondary-500: #1d4ed8;
    --secondary-600: #2563eb;
    --secondary-700: #1d4ed8;
    --secondary-800: #1e40af;
    --secondary-900: #1e3a8a;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #171717;
  overflow: hidden;
  --rt-opacity: 1;
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
  .apart {
    @apply flex justify-between items-center;
  }
  .v-center {
    @apply flex items-center space-x-1;
  }
}

/* Width of the vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Background color of the scrollbar track */
/* 
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 100px;
}

/* Color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5;
}

/* This will change the style of placeholder to our product*/
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #737373;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
/* Content styles*/
.quill > .ql-container {
  color: #171717;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

/* Custom toolbar style globall applied */
#toolbar,
.quill-toolbar {
  border: none !important;
  /* padding: 0px 24px 0px 28px; */
  /* background-color: white !important; */
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px !important;
}

.ql-toolbar.ql-snow {
  padding: 0px !important;
}

.quill-toolbar-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}

.ql-snow .ql-formats {
  vertical-align: 0% !important;
}

.ql-snow.ql-toolbar button {
  margin-right: 10px;
}

/* Remove snow theme border*/

.ql-container.ql-snow {
  border: none !important;
}

/* emoji margin */
.bem {
  margin: 6px !important;
}

.ql-editor {
  padding-left: 24px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ql-editor.ql-blank::before {
  padding-left: 12px !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-container {
  width: auto !important;
}

.top-arrow::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -16px;
  border-width: 16px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.rdg {
  border: 1px solid #e5e5e5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.react-grid-HeaderCell,
.react-grid-Cell {
  box-sizing: border-box !important;
}

.rdg-cell {
  box-sizing: border-box !important;
  outline: 1px solid #e5e5e5;
  padding: 4px 12px !important;
  line-height: 18px !important;
}

.rdg-cell[role='columnheader'] {
  line-height: 20px !important;
}

.rdg-selected {
  box-sizing: border-box;
  border: none;
  outline: none;
}

.rdg-header-row {
  background-color: #f0f8ff;
  font-size: 14px;
  color: #737373;
  font-weight: 500;
}

.bottom-arrow::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--primary-500) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--primary-500) !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--primary-500) !important;
}

#tab-toolbar .active {
  border-bottom: 3px solid var(--primary-500) !important;
}

.advanced-cropper-stencil-overlay {
  color: rgba(255, 255, 255, 0.5) !important;
}

.advanced-cropper-rectangle-stencil__preview {
  border: 1px solid white;
}

.docs-select .ant-select-selector {
  height: 40px !important;
}
.docs-select .ant-select-selection-search-input {
  height: 40px !important;
}
.docs-select .ant-select-dropdown {
  width: 600px !important;
}
