@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #171717;
  overflow: hidden;
}

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
}

/* Width of the vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Background color of the scrollbar track */
/* 
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

/* Color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 100px;
}

/* Color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #e5e5e5;
}

/* This will change the style of placeholder to our product*/
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #737373;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
/* Content styles*/
.quill > .ql-container {
  color: #171717;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

/* Custom toolbar style globall applied */
#toolbar,
.quill-toolbar {
  border: none !important;
  /* padding: 0px 24px 0px 28px; */
  /* background-color: white !important; */
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px !important;
}

.ql-toolbar.ql-snow {
  padding: 0px !important;
}

.quill-toolbar-icons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
}

.ql-snow .ql-formats {
  vertical-align: 0% !important;
}

.ql-snow.ql-toolbar button {
  margin-right: 10px;
}

/* Remove snow theme border*/

.ql-container.ql-snow {
  border: none !important;
}

/* emoji margin */
.bem {
  margin: 6px !important;
}

.ql-editor {
  padding-left: 24px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.ql-editor.ql-blank::before {
  padding-left: 12px !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', 'Roboto', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-container {
  width: auto !important;
}
